/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.inline-preview {
  display: inline-block;
  margin-inline-start: 8px;
  user-select: none;
}

.inline-preview-outer {
  background-color: var(--theme-inline-preview-background);
  border: 1px solid var(--theme-inline-preview-border-color);
  border-radius: 3px;
  font-size: 10px;
  margin-right: 5px;
  white-space: nowrap;
}

.inline-preview-label {
  padding-inline: 2px;
  border-radius: 2px 0 0 2px;

  &.paused {
    color: var(--theme-inline-preview-label-pause-color);
    background-color: var(--theme-inline-preview-label-pause-background);
  }

  &.trace {
    color: var(--theme-inline-preview-label-trace-color);
    background-color: var(--theme-inline-preview-label-trace-background);

    &::before {
      content: "";
      display: inline-block;
      width: 12px;
      height: 12px;
      padding: 0 4px;
      margin-top: -1px;
      vertical-align: middle;

      background-image: url("chrome://devtools/content/debugger/images/trace.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      -moz-context-properties: fill;
      fill: var(--theme-inline-preview-label-trace-color);
    }
  }
}

.inline-preview-value {
  padding: 2px 6px;
}
