/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin/design-system/text-and-typography.css");

:host {
  display: block;
}

fieldset {
  display: contents;
}

legend {
  padding: 0;
  font-weight: var(--font-weight-bold);
  display: inline-block;

  &:has(+ #description) {
    display: block;
  }
}

#description {
  margin: 0;
  margin-block-start: var(--space-xxsmall);
  & + a,
  & + ::slotted([slot="support-link"]) {
    font-size: var(--font-size-small);
  }
}

#inputs {
  display: flex;
  flex-direction: column;
  gap: var(--space-large);
  margin-top: var(--space-small);
}

a[is="moz-support-link"],
::slotted([slot="support-link"]) {
  white-space: nowrap;
}
