/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

 #fxview-tab-row-secondary-button {
  display: none;

  :host(:hover) & {
    display: inline;
    justify-self: end;
  }
}

.no-action-button-row {
  grid-column: span 7;
}

:host {
  display: flex;
}

.fxview-tab-row-main {
  height: 32px;
  box-sizing: border-box;
  flex: 1;
}
