Andreas Tolfsen <ato@sny.no> <ato@mozilla.com>
Nika Layzell <nika@thelayzells.com> <michael@thelayzells.com>
Alex Thayer <dothayer@mozilla.com>
Beth Rennie <beth@brennie.ca> <barret@brennie.ca>
Emilio Cobos Álvarez <emilio@crisal.io> <emilio@mozilla.com>
Emilio Cobos Álvarez <emilio@crisal.io> <ecoal95@gmail.com>
Emilio Cobos Álvarez <emilio@crisal.io> <me@emiliocobos.me>
Emma Zuehlcke <emz@mozilla.com> <pbz@mozilla.com>
Emma Zuehlcke <emz@mozilla.com> <pzuhlcke@mozilla.com>
