. $topsrcdir/browser/config/mozconfig

mk_add_options MOZ_OBJDIR=@TOPSRCDIR@/wr-opt
mk_add_options MOZ_MAKE_FLAGS="-j12"
mk_add_options AUTOCLOBBER=1

ac_add_options --with-branding=browser/branding/recordreplay
ac_add_options --enable-replace-malloc

