/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin/menu-shared.css");

/* ===== menu.css =======================================================
  == Styles used by XUL menu-related elements.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ..... Internal content .... */

.menu-accel,
.menu-iconic-accel,
.menu-text,
.menu-iconic-text {
  margin: 0;
  padding: 1px 0;
}

.menu-accel,
.menu-iconic-accel {
  margin-inline: 0.74em 1.35em;
}

.menu-iconic-icon {
  width: 16px;
  height: 16px;
}

.menu-iconic > .menu-iconic-left,
.menuitem-iconic > .menu-iconic-left {
  padding-top: 2px;
}

menuitem:is([type="checkbox"], [type="radio"]):not([checked="true"]) > .menu-iconic-left > .menu-iconic-icon {
  display: none;
}


.menubar-text {
  margin: 1px 6px 2px;
}

menulist > menupopup > menuitem[_moz-menuactive][disabled="true"] {
  color: GrayText;
}

menulist > menupopup > :is(menuitem, menucaption):not(.menuitem-iconic) > .menu-iconic-text {
  margin: 0;
}

/* ::::: checkbox and radio menuitems ::::: */

menupopup[needsgutter] menu:not([icon], .menu-iconic),
menupopup[needsgutter] menuitem:not([checked="true"], [icon], .menuitem-iconic) {
  padding-inline-start: 36px;
}

.menu-iconic > .menu-iconic-left,
.menuitem-iconic > .menu-iconic-left {
  margin-inline-end: 8px;
}

menuitem[checked="true"] {
  padding-inline-start: 12px;
}

/* We need to do something to override the default style for selected
   checkboxes and radio buttons because the native drawing we use on other
   Windows versions looks pretty bad with the Win10 styles, so for now we'll
   insert a generic checkmark icon for both types. */
menuitem[checked="true"] > .menu-iconic-left {
  -moz-context-properties: fill, fill-opacity;
  fill: currentColor;
  fill-opacity: var(--menu-icon-opacity);
  list-style-image: url("chrome://global/skin/icons/menu-check.svg");
  width: 16px;
  margin-inline-end: 8px;
}
