<html class="reftest-wait">
<style>
* {
  margin-right: 61%;
  scroll-behavior: smooth;
  overflow-x: scroll;
}
</style>
<script>
function func_0() {
  window.find("AAAA")
}
function func_1() {
  b.scrollIntoView(true)
  a.srcset = "data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs= 0x"
}
</script>
<img id="a" srcset="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAYAAADimHc4AAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABh0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjIyt5EXfQAAAU5JREFUeF7t07ENACAMxMDA/jsDBTtcY6TUlmx+zcx510MGNuKG/QYKgL9CAQqADWB8CygANoDxLaAA2ADGt4ACYAMY3wIKgA1gfAsoADaA8S2gANgAxreAAmADGN8CCoANYHwLKAA2gPEtoADYAMa3gAJgAxjfAgqADWB8CygANoDxLaAA2ADGt4ACYAMY3wIKgA1gfAsoADaA8S2gANgAxreAAmADGN8CCoANYHwLKAA2gPEtoADYAMa3gAJgAxjfAgqADWB8CygANoDxLaAA2ADGt4ACYAMY3wIKgA1gfAsoADaA8S2gANgAxreAAmADGN8CCoANYHwLKAA2gPEtoADYAMa3gAJgAxjfAgqADWB8CygANoDxLaAA2ADGt4ACYAMY3wIKgA1gfAsoADaA8S2gANgAxreAAmADGN8CCoANYHwLKAA2gPEtAAe4i54BvwLfXFAAAAAASUVORK5CYII= 1w">
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
<svg>
<foreignObject transform="matrix(737,0,1,853,0,4)" x="1em">
<keygen id="b" tabindex="0" autofocus="" onblur="func_0()" onfocus="func_0()" onfocusout="func_1()">
<script>
  window.addEventListener("load", async () => {
    await new Promise(resolve => requestAnimationFrame(resolve));
    await new Promise(resolve => requestAnimationFrame(resolve));  
    document.documentElement.classList.remove('reftest-wait');
  });
</script>
</html>
