/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import "chrome://browser/skin/customizableui/panelUI-shared.css";

.panel-subview-body {
  scrollbar-color: color-mix(in srgb, currentColor 26%, transparent) transparent;
}

.subviewbutton:not([image],[targetURI],.bookmark-item) > .menu-iconic-left {
  display: none;
}

.PanelUI-fxa-menu-section-title,
.PanelUI-remotetabs-clientcontainer > label[itemtype="client"] {
  padding-inline-start: 10px;
}

.PanelUI-remotetabs-notabsforclient-label {
  margin-inline-start: 19px;
  font-size: 13px;
  padding: 4px 0;
}

#PanelUI-remotetabs[mainview] .PanelUI-remotetabs-notabsforclient-label {
  margin-inline-start: 23px;
}

#PanelUI-remotetabs-tabslist {
  padding-bottom: 4px;
}

.panel-button {
  appearance: none;
  border-radius: 2px;
  color: var(--button-text-color);
  background-color: var(--button-background-color);
  padding: 2px 6px;

  &:not([disabled]):hover {
    color: var(--button-text-color-hover);
    background-color: var(--button-background-color-hover);
  }

  &:not([disabled]):hover:active {
    color: var(--button-text-color-active);
    background-color: var(--button-background-color-active);
  }

  &:focus-visible {
    outline: var(--focus-outline);
  }
}
