<!DOCTYPE HTML>
<html><head>
    <meta charset="utf-8">
    <title>Testcases for overflow-clip-box:content-box</title>
    <style type="text/css">
html,body {
  color:black; background-color:white; font:16px monospace; padding:0; margin:7px;
}

input {
  width: 100px; padding:50px; -moz-appearance:none; overflow-clip-box:content-box;
  border: 3px solid black;
  background-color: white;
  font-family: monospace;
}

.button { width:0px; padding:0 50px; overflow:hidden; }
.pb { overflow-clip-box:padding-box; }
.cb { overflow-clip-box:content-box; }
    </style>
</head>
<body>

<input spellcheck=false type="text" placeholder="someveryveryveryveryverylongvalue">
<input spellcheck=false type="text" value="someveryveryveryveryverylongvalue"><br>
<input spellcheck=false type="password" value="someveryveryveryveryverylongpassword">
<input spellcheck=false type="email" value="someveryveryveryveryverylongvalue">
<input spellcheck=false type="blah" value="someveryveryveryveryverylongvalue"><br>
<input spellcheck=false type="button" value="button" class="button" style="overflow-clip-box:initial">
<input spellcheck=false type="button" value="button" class="button pb">
<input spellcheck=false type="reset" class="button pb">
<input spellcheck=false type="submit" class="button pb"><br>
<input spellcheck=false type="button" value="button" class="button cb">
<input spellcheck=false type="reset" class="button cb">
<input spellcheck=false type="submit" class="button cb"><br>

</body>
</html>
