/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

.ml-progress {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 5px;
  z-index: 10000;
}

.progress-bar-container {
  margin-bottom: 10px;
}

.progress-bar {
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar-fill {
  height: 20px;
  background-color: #4caf50;
  text-align: center;
  color: white;
  padding-left: 5px;
  line-height: 20px;
  border-radius: 5px;
  width: 0; /* Initial width */
}

.close-btn {
  margin-top: 10px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
