/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

@import "chrome://global/skin/global.css";

#ipprotection-content-wrapper {
  display: flex;
}

#upgrade-vpn-content {
  display: flex;
  flex-direction: column;
  padding: var(--space-small) var(--space-large);
}

#upgrade-vpn-title {
  margin: 0;
}

#upgrade-vpn-button {
  align-self: end;
}
