/* stylelint-disable max-nesting-depth */

.discoverystream-admin-toggle {
  position: fixed;
  // Adjust spacing for DevTools wrench icon to avoid overlapping the customize button
  inset-block-start: calc(var(--button-size-icon) + var(--space-xxlarge));
  inset-inline-end: var(--space-xlarge);
  border: 0;
  background: none;
  z-index: 4;
  border-radius: var(--border-radius-small);

  .icon-devtools {
    background-image: url('chrome://global/skin/icons/developer.svg');
    padding: var(--space-large);
  }

  &:dir(rtl) {
    transform: scaleX(-1);
  }

  &:hover {
    background: var(--newtab-element-hover-color);
  }

  &.expanded {
    background: $black-20;
  }
}

.discoverystream-admin {
  $border-color: var(--newtab-border-color);
  $monospace: 'SF Mono', 'Monaco', 'Inconsolata', 'Fira Mono', 'Droid Sans Mono',
    'Source Code Pro', monospace;
  $sidebar-width: 240px;

  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  width: 100%;
  background: var(--newtab-background-color);
  height: 100%;
  overflow-y: scroll;
  margin: 0 auto;
  color: var(--newtab-text-primary-color);
  z-index: 3;

  &.collapsed {
    display: none;
  }

  .sidebar {
    inset-inline-start: 0;
    position: fixed;
    width: $sidebar-width;
    padding: var(--space-xxlarge) var(--space-xlarge);

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li a {
      padding: var(--space-medium) var(--space-xxlarge);
      display: block;
      color: var(--lwt-sidebar-text-color);

      &:hover {
        background: var(--newtab-background-color-secondary);
      }
    }
  }

  h1 {
    font-size: var(--font-size-xxlarge);
  }

  h2 .button,
  p .button {
    font-size: inherit;
    padding: var(--space-xsmall) var(--space-medium);
    margin-inline-start: var(--space-xsmall);
    margin-block-end: 0;
  }

  .general-textarea {
    direction: ltr;
    width: 740px;
    height: 500px;
    overflow: auto;
    resize: none;
    border-radius: var(--border-radius-small);
    display: flex;
  }

  .wnp-textarea {
    direction: ltr;
    width: 740px;
    height: 500px;
    overflow: auto;
    resize: none;
    border-radius: var(--border-radius-small);
    display: flex;
  }

  .json-button {
    display: inline-flex;
    font-size: var(--font-size-small);
    padding: var(--space-xsmall) var(--space-medium);
    margin-block-end: var(--space-xsmall);
    margin-inline-end: var(--space-xsmall);

    &:hover {
      background-color: var(--newtab-element-hover-color);
      box-shadow: none;
    }
  }

  .toggle-wrapper {
    margin-block: var(--space-large);
    width: 200px;
  }

  .details-section {
    margin-block: var(--space-large);

    summary {
      font-size: var(--font-size-large);
    }
  }

  table {
    border-collapse: collapse;
    width: 100%;

    &.minimal-table {
      border-collapse: collapse;
      border: 1px solid $border-color;

      td {
        padding: var(--space-small);
      }

      td:first-child {
        width: 1%;
        white-space: nowrap;
      }

      td:not(:first-child) {
        font-family: $monospace;
      }
    }

    &.errorReporting {
      tr {
        border: 1px solid var(--newtab-background-color-secondary);
      }

      td {
        padding: var(--space-xsmall);

        &[rowspan] {
          border: 1px solid var(--newtab-background-color-secondary);
        }
      }
    }
  }

  .large-data-container {
    max-height: 500px;
    overflow-y: scroll;
  }

  .sourceLabel {
    background: var(--newtab-background-color-secondary);
    padding: var(--space-xxsmall) var(--space-xsmall);
    border-radius: var(--border-radius-small);

    &.isDisabled {
      background: $email-input-invalid;
      color: var(--newtab-status-error);
    }
  }

  .message-item {
    &:first-child td {
      border-top: 1px solid $border-color;
    }

    td {
      vertical-align: top;
      padding: var(--space-small);
      border-bottom: 1px solid $border-color;

      &.min {
        width: 1%;
        white-space: nowrap;
      }

      &.message-summary {
        width: 60%;
      }

      &.button-column {
        width: 15%;
      }

      &:first-child {
        border-inline-start: 1px solid $border-color;
      }

      &:last-child {
        border-inline-end: 1px solid $border-color;
      }
    }

    &.blocked {
      .message-id,
      .message-summary {
        opacity: 0.5;
      }

      .message-id {
        opacity: 0.5;
      }
    }

    .message-id {
      font-family: $monospace;
      font-size: var(--font-size-small);
    }
  }

  .providerUrl {
    font-size: var(--font-size-small);
  }

  pre {
    background: var(--newtab-background-color-secondary);
    margin: 0;
    padding: var(--space-small);
    font-size: var(--font-size-small);
    max-width: 750px;
    overflow: auto;
    font-family: $monospace;
  }

  .errorState {
    border: $input-error-border;
  }

  .helpLink {
    padding: var(--space-medium);
    display: flex;
    background: $black-10;
    border-radius: var(--border-radius-small);
    align-items: center;

    a {
      text-decoration: underline;
    }

    .icon {
      min-width: 18px;
      min-height: 18px;
    }
  }

  .ds-component {
    margin-block-end: var(--space-large);
  }

  .modalOverlayInner {
    height: 80%;
  }

  .clearButton {
    border: 0;
    padding: var(--space-xsmall);
    border-radius: var(--border-radius-small);
    display: flex;

    &:hover {
      background: var(--newtab-element-hover-color);
    }
  }

  .collapsed {
    display: none;
  }

  .icon {
    display: inline-table;
    cursor: pointer;
    width: 18px;
    height: 18px;
  }

  .button {
    &:disabled,
    &:disabled:active {
      opacity: 0.5;
      cursor: unset;
      box-shadow: none;
    }
  }

  .impressions-section {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .impressions-item {
      display: flex;
      flex-flow: column nowrap;
      padding: var(--space-small);
      border: 1px solid $border-color;
      border-radius: var(--border-radius-small);

      .impressions-inner-box {
        display: flex;
        flex-flow: row nowrap;
        gap: 8px;
      }

      .impressions-category {
        font-size: var(--font-size-large);
        white-space: nowrap;
        flex-grow: 0.1;
      }

      .impressions-buttons {
        display: flex;
        flex-direction: column;
        gap: 8px;

        button {
          margin: 0;
        }
      }

      .impressions-editor {
        display: flex;
        flex-grow: 1.5;

        .general-textarea {
          width: auto;
          flex-grow: 1;
        }
      }
    }
  }

  .weather-section {
    margin-block-end: var(--space-xlarge);

    form {
      display: flex;

      label {
        margin-inline-end: var(--space-medium);
      }
    }
  }
}
