<!DOCTYPE html>

<style>
div { font-size: 32px; line-height: 1.5; }
.normal { font-variant-emoji: normal; }
.text { font-variant-emoji: text; }
.emoji { font-variant-emoji: emoji; }
.a { font-family: system-ui, "Segoe UI"; }
.b { font-family: system-ui, "Segoe UI Emoji"; }
.c { font-family: system-ui, "Segoe UI Symbol"; }
</style>

<div><span class=normal>
  <div><span class=a>🇦🇫🇿🇼</span></div>
  <div><span class=b>🇦🇫🇿🇼</span></div>
  <div><span class=c>🇦🇫🇿🇼</span></div>
</div>

<div><span class=text>
  <div><span class=a>🇦🇫🇿🇼</span></div>
  <div><span class=b>🇦🇫🇿🇼</span></div>
  <div><span class=c>🇦🇫🇿🇼</span></div>
</div>

<div><span class=emoji>
  <div><span class=a>🇦🇫🇿🇼</span></div>
  <div><span class=b>🇦🇫🇿🇼</span></div>
  <div><span class=c>🇦🇫🇿🇼</span></div>
</div>
