<!DOCTYPE html>

<style>
div { font-size: 32px; line-height: 1.5; }
.normal { font-variant-emoji: normal; }
.text { font-variant-emoji: text; }
.emoji { font-variant-emoji: emoji; }
.normal > div > span { font-family: system-ui, "Twemoji Mozilla"; }
.text   > div > span { font-family: system-ui, "Segoe UI Symbol"; }
.emoji  > div > span { font-family: system-ui, "Twemoji Mozilla"; }
</style>

<div class=normal>
  <div><span>🇦🇫🇿🇼</span></div>
  <div><span>🇦🇫🇿🇼</span></div>
  <div><span>🇦🇫🇿🇼</span></div>
</div>

<div class=text>
  <div><span>🇦🇫🇿🇼</span></div>
  <div><span>🇦🇫🇿🇼</span></div>
  <div><span>🇦🇫🇿🇼</span></div>
</div>

<div class=emoji>
  <div><span>🇦🇫🇿🇼</span></div>
  <div><span>🇦🇫🇿🇼</span></div>
  <div><span>🇦🇫🇿🇼</span></div>
</div>
