.ds-section-title {
  text-align: center;
  margin-block-start: var(--space-xlarge);

  .title {
    color: var(--newtab-text-primary-color);
    font-size: var(--font-size-xxlarge);
    font-weight: normal;
  }

  .subtitle {
    font-size: inherit;
    color: var(--newtab-text-secondary-color);
    margin-block-start: var(--space-xsmall);
  }
}
