/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Rules that may be used in different inspector panels and tooltips */

.empty-css-variable {
  color: var(--theme-text-color-alt);
  font-style: italic;
}
