.list-feed {
  grid-column: 3;
  grid-row: span 2;
  height: 100%;


  .list-feed-inner-wrapper {
    box-shadow: $shadow-card;
    background-color: var(--newtab-background-color-secondary);
    border-radius: var(--border-radius-medium);
  }

  .list-feed-title {
    padding-inline-start: var(--space-medium);
    padding-block: var(--space-small);
    font-size: var(--font-size-small);
    color: var(--newtab-text-primary-color);
    font-weight: var(--font-weight-bold);
    margin: 0;

    .icon-trending {
      margin-inline-end: var(--space-small);
      -moz-context-properties: stroke;
      stroke: currentColor;
      transform: none;
    }
  }

  .list-feed-content {
    list-style: none;
    padding-inline-start: 0;
    margin: 0;
  }
}

.ds-card-grid .list-feed-content .ds-card.list-feed-card {
  // overrides when using the DSCard component
  background-color: var(--newtab-background-color-secondary);
  border-block-start: 1px solid var(--color-gray-50);
  border-radius: 0;
  box-shadow: none;
  flex-direction: row-reverse;
  height: 135px;
  gap: var(--space-large);
  padding-inline: var(--space-large);
  padding-block: var(--space-large) var(--space-small);
  position: relative;

  .ds-card-link {
    inset-block-start: 0;
    inset-inline-start: 0;
  }

  .meta {
    padding: 0;
  }

  .excerpt {
    display: none;
  }

  .card-stp-button-hover-background {
    border-radius: 0;
    height: 100%;
    // note: not using padding-block-start to override a rule from DSCard
    padding-block-start: 0;
    inset-inline-start: 0;

    .card-stp-button-position-wrapper {
      inset-block-end: var(--space-small);
      inset-inline-end: var(--space-large);
    }
  }

  .img-wrapper {
    flex-shrink: 0;
    height: 75px;
    width: 75px;

    img {
      height: auto;
      border-radius: var(--border-radius-medium);
    }
  }

  &:last-child {
    border-end-start-radius: var(--border-radius-medium);
    border-end-end-radius: var(--border-radius-medium);
    border-start-start-radius: 0;
    border-start-end-radius: 0;

    .card-stp-button-hover-background {
      border-end-start-radius: var(--border-radius-medium);
      border-end-end-radius: var(--border-radius-medium);
      border-start-start-radius: 0;
      border-start-end-radius: 0;
    }
  }

  &:hover,
  &:focus-within {
    background-color:var(--newtab-background-color);

    .card-stp-button-hover-background {
      background: transparent;
    }

    .card-stp-button-position-wrapper {
      align-items: flex-end;
    }

    .context-menu-button {
      background-color: transparent;
      box-shadow: none;

      &:hover, &:focus {
        background-color: var(--newtab-button-background);
      }
    }
  }
}
