.list-feed {
  grid-column: span 1 / -1;
  grid-row: span 2;
  height: 100%;

  &.span-1 {
    grid-row: span 1;
  }

  &.span-2 {
    grid-row: span 2;
  }

  &.full-height {
    display: flex;

    .list-feed-content {
      flex: 1;

      .list-feed-card {
        flex: 1;
      }
    }
  }

  @media (min-width: $break-point-medium) {
    &.span-1 {
      grid-row: span 1 / -1;
    }

    &.span-2 {
      grid-row: span 2 / -1;
    }
  }

  .layout-variant-a &,
  .layout-variant-b & {
    @media (min-width: $break-point-medium) {
      &.span-1 {
        grid-row: span 1;
      }

      &.span-2 {
        grid-row: span 2;
      }
    }

    @media (min-width: $break-point-layout-variant) {
      &.span-1 {
        grid-row: span 1 / -1;
      }

      &.span-2 {
        grid-row: span 2 / -1;
      }
    }
  }

  .list-feed-inner-wrapper {
    box-shadow: $shadow-card;
    background-color: var(--newtab-background-color-secondary);
    border-radius: var(--border-radius-medium);
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .list-feed-title {
    padding-inline-start: var(--space-medium);
    padding-block: var(--space-small);
    font-size: var(--font-size-small);
    color: var(--newtab-text-primary-color);
    font-weight: var(--font-weight-bold);
    margin: 0;

    .icon-trending {
      margin-inline-end: var(--space-small);
      transform: none;
      fill: var(--newtab-text-primary-color);
    }
  }

  .list-feed-content {
    list-style: none;
    padding-inline-start: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
}

.layout-variant-a,
.layout-variant-b {
  .ds-card-grid .list-feed-content .ds-card.list-feed-card {
    height: 135px;

    @media (min-width: $break-point-widest) {
      height: 140px;
    }
  }

  .ds-card.placeholder.list-card-placeholder {
    .placeholder-image {
      height: 75px;
      width: 75px;
    }

    .placeholder-header, .placeholder-description {
      height: 20px;
    }
  }
}

.ds-card.placeholder.list-card-placeholder {
  box-shadow: unset;
  padding-inline-end: var(--space-large);
  padding-block: var(--space-large) var(--space-small);
  flex: 1;

  .placeholder-image {
    height: 55px;
    width: 55px;
    position: absolute;
    border-radius: var(--border-radius-medium);
    inset-inline-end: var(--space-large);

    @media (min-width: $break-point-widest) {
      height: 75px;
      width: 75px;
    }
  }

  .placeholder-label {
    margin-bottom: unset;
  }

  .placeholder-header, .placeholder-description {
    width: 60%;
    height: 12px;
  }


  @media (min-width: $break-point-widest) {
    .placeholder-image {
      height: 75px;
      width: 75px;
    }

    .placeholder-header, .placeholder-description {
      height: 20px;
    }
  }
}


.ds-card-grid .list-feed-content .ds-card.list-feed-card {
  // overrides when using the DSCard component
  background-color: var(--newtab-background-color-secondary);
  border-block-start: 1px solid light-dark(var(--color-gray-70), var(--color-gray-50));
  border-radius: 0;
  box-shadow: none;
  flex-direction: row-reverse;
  min-height: 135px;
  gap: var(--space-large);
  padding-inline: var(--space-large);
  padding-block: var(--space-large) var(--space-small);
  position: relative;

  .ds-card-link {
    inset-block-start: 0;
    inset-inline-start: 0;
  }

  .meta {
    padding: 0;

    .story-footer {
      margin-block-start: var(--space-xsmall);
    }
  }

  .excerpt {
    display: none;
  }

  .card-stp-button-hover-background {
    border-radius: 0;
    height: 100%;
    opacity: 1;
    background-color: transparent;
    padding-block-start: 0;
    inset-inline-start: 0;

    .card-stp-button-position-wrapper {
      inset-block-end: var(--space-small);
      inset-inline-end: var(--space-large);
      align-items: flex-end;
    }

    .context-menu-button {
      opacity: 1;
      transform: scale(1);
      background-color: transparent;
      box-shadow: none;
    }
  }

  .img-wrapper {
    flex-shrink: 0;
    height: 55px;
    width: 55px;

    img {
      height: auto;
      border-radius: var(--border-radius-medium);
    }

    @media (min-width: $break-point-widest) {
      height: 75px;
      width: 75px;
    }
  }

  &:last-child {
    border-end-start-radius: var(--border-radius-medium);
    border-end-end-radius: var(--border-radius-medium);
    border-start-start-radius: 0;
    border-start-end-radius: 0;

    .card-stp-button-hover-background {
      border-end-start-radius: var(--border-radius-medium);
      border-end-end-radius: var(--border-radius-medium);
      border-start-start-radius: 0;
      border-start-end-radius: 0;
    }
  }

  &:hover,
  &:focus-within {
    background-color:var(--newtab-background-color);

    .card-stp-button-hover-background {
      background: transparent;
    }

    .card-stp-button-position-wrapper {
      align-items: flex-end;
    }

    .context-menu-button {
      &:hover, &:focus {
        background-color: var(--newtab-button-background);
      }
    }
  }
}
