/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/**
 * Make the icons appear.
 * Note: we display the icon box for every item whether or not it has an icon
 * so the labels of all the items align vertically.
 */
.actionsMenu > menupopup > menuitem > .menu-iconic-left {
  display: flex;
  min-width: 16px;
}
