/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:host {
  display: flex;
  justify-content: space-between;
}

:host([hidden]) {
  display: none;
}

.stars {
  --rating-star-size: 1em;
  --rating-star-spacing: 0.3ch;
  display: inline-flex;
  align-content: center;
  justify-content: center;
}

.rating-star {
  display: inline-block;
  width: var(--rating-star-size);
  height: var(--rating-star-size);
  background-image: url("chrome://global/skin/icons/rating-star.svg#empty");
  background-position: center;
  background-repeat: no-repeat;
  background-size: var(--rating-star-size) var(--rating-star-size);
  padding-inline: calc(var(--rating-star-spacing) / 2);

  fill: var(--icon-color);
  -moz-context-properties: fill;

  &:first-of-type {
    padding-inline-start: unset;
  }

  &:last-of-type {
    padding-inline-end: unset;
  }
}


.rating-star[fill="half"] {
  background-image: url("chrome://global/skin/icons/rating-star.svg#half");
}
.rating-star[fill="full"],
.rating-star.selectable:has(~ .rating-star.selectable:hover),
.rating-star.selectable:hover {
  background-image: url("chrome://global/skin/icons/rating-star.svg#full");
}

.rating-star[fill="half"]:dir(rtl) {
  transform: scaleX(-1);
}

.rating-star.selectable {
  cursor: pointer;
}
