.ds-dismiss-ds-text-promo {
  max-width: 744px;
  margin: auto;
  overflow: hidden;

  &.hovering {
    background: var(--newtab-element-hover-color);
  }

  .ds-dismiss-button {
    margin-inline: 0 18px;
    margin-block: 18px 0;
  }
}

.ds-text-promo {
  max-width: 640px;
  margin: 0;
  padding: var(--space-large);

  @media(min-width: $break-point-medium) {
    display: flex;
    margin: 18px 24px;
    padding: 0;
    padding-inline-end: var(--space-xxlarge);
  }

  .ds-image {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    margin: 0 0 18px;

    @media(min-width: $break-point-medium) {
      margin: 4px 12px 0 0;
    }

    img {
      border-radius: var(--border-radius-small);
    }
  }

  h3 {
    color: var(--newtab-text-primary-color);
    margin: 0;
    font-weight: var(--font-weight-bold);
    font-size: inherit;
  }

  .subtitle {
    font-size: var(--font-size-small);
    margin: 0;
    color: var(--newtab-text-primary-color);
  }
}

.ds-chevron-link {
  color: var(--newtab-primary-action-background);
  display: inline-block;
  outline: 0;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: var(--newtab-primary-element-active-color);

    &::after {
      background-color: var(--newtab-primary-element-active-color);
    }
  }

  &:focus {
    box-shadow: $shadow-secondary;
    border-radius: var(--border-radius-small);
  }

  &::after {
    background-color: var(--newtab-primary-action-background);
    content: ' ';
    mask: url('chrome://global/skin/icons/arrow-right-12.svg') 0 -8px no-repeat;
    margin: 0 0 0 4px;
    width: 5px;
    height: 8px;
    text-decoration: none;
    display: inline-block;
  }
}
