/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.shopping-card {
  position: relative;
}

moz-card {
  --card-padding: var(--space-medium);

  &::part(heading) {
    font-size: unset;
  }
}

#content {
  align-self: stretch;
}

#label-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  margin-bottom: var(--space-small);
}

#heading {
  font-weight: var(--font-weight-bold);
  margin: 0;
}

.show-more footer {
  width: 100%;
  background-color: var(--background-color-box);
  box-shadow: 2px -10px 11px var(--background-color-box);
  border-top: var(--border-width) solid var(--card-border-color);
  border-radius: 0 0 var(--border-radius-medium) var(--border-radius-medium);
  position: absolute;
  bottom: 0;
  text-align: center;
  padding-block: var(--space-small);
  inset-inline: 0;
}

.show-more[expanded="false"]  {
  overflow: clip;
  height: 200px;
}

:host(:not([showMoreButtonDisabled])) .show-more ::slotted(div) {
  margin-block-end: 4rem;
}

:host([showMoreButtonDisabled]) footer {
  display: none;
}
