/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin/in-content/common.css");

#unanalyzed-product-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

#unanalyzed-product-icon {
  max-width: 264px;
  max-height: 290px;
  width: 100%;
  content: url("chrome://browser/content/shopping/assets/unanalyzedLight.avif");

  @media (prefers-color-scheme: dark) {
    content: url("chrome://browser/content/shopping/assets/unanalyzedDark.avif");
  }
}

#unanalyzed-product-message-content {
  display: flex;
  flex-direction: column;
  line-height: 1.5;

  > h2 {
    font-size: inherit;
  }

  > p {
    margin-block: 0.25rem;
  }
}

#unanalyzed-product-analysis-button {
  width: 100%;
}

/* stylelint-disable-next-line media-query-no-invalid */
@media -moz-pref("browser.shopping.experience2023.integratedSidebar") {
  #unanalyzed-product-icon {
    max-width: 9em;
    min-width: 9em;
    content: url("chrome://browser/content/shopping/assets/unanalyzedRework.svg");
  }

  #unanalyzed-product-message-content {
    line-height: inherit;

    > h2 {
      font-size: var(--font-size-large);
      margin-block: 0;
      text-align: center;
    }

    > p {
      align-self: center;
      color: var(--text-color-deemphasized);
      margin-block: 1rem;
      text-align: center;
      max-width: 18em;
      width: 100%;
    }
  }

  #unanalyzed-product-analysis-button {
    max-width: 80%;
    width: 14em;
  }
}
