/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Status bar */

.devtools-status-bar-label {
  flex: 0;
}

.status-bar-label {
  display: inline-flex;
  margin-inline-end: 10px;
  /* Status bar has just one line so, don't wrap labels */
  white-space: nowrap;
  font-variant-numeric: tabular-nums;
}

.status-bar-label:not(:first-of-type)::before {
  content: "";
  display: inline-block;
  margin-inline-end: 10px;
  margin-top: 4px;
  margin-bottom: 4px;
  width: 1px;
  background: var(--theme-splitter-color);
}

.status-bar-label.dom-content-loaded {
  --bar-label-legend-color: var(--timing-marker-dom-content-loaded-color);
}

.status-bar-label.load {
  --bar-label-legend-color: var(--timing-marker-load-color);
}

:is(
  .status-bar-label.dom-content-loaded,
  .status-bar-label.load
)::before {
  content: "";
  display: inline-block;
  width: 12px;
  aspect-ratio: 1 / 1;
  align-self: center;
  margin-inline: 0 4px;
  /* The --timing-marker-* colors are overriden in High Contrast Mode with non-system
     highly contrasted colors that we want to use here */
  forced-color-adjust: none;
  border: 1px solid CanvasText;
  background-color: var(--bar-label-legend-color);
}

.requests-list-network-summary-button {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  height: 20px;
  background: none;
  box-shadow: none;
  border-color: transparent;
  padding-inline-end: 0;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-inline-end: 1em;

  &::before {
    background-image: url(chrome://devtools/skin/images/profiler-stopwatch.svg);
    fill: var(--theme-icon-color);
  }
}
