<!DOCTYPE html>
<html>
<head>
    <style>
        * {
            transform: translateY(-36pt) perspective(3136639850.814653Q) rotateY(-173977299.644979grad);
            letter-spacing: 39ch;
            padding-inline-start: 26038735%
        }

        * {
            position: absolute !important;
            border-right-width: medium;
        }
    </style>
    <script>
      window.addEventListener('load', async () => {
        const div = document.createElement('div')
        const ul = document.createElement('ul')
        const li = document.createElement('li')
        const textarea = document.createElement('textarea')
        const canvas = document.createElement('canvas')
        textarea.rows = 166
        li.appendChild(textarea)
        ul.appendChild(li)
        div.appendChild(ul)
        document.documentElement.appendChild(div)
        document.documentElement.appendChild(canvas)
      })
    </script>
</head>
<body>
<div tabindex="1000" autofocus>
</body>
</html>
