@mixin section-card-small {
  grid-row: span 1;
  grid-column: span 1;
  flex-direction: row;
  position: relative;
  align-items: center;
  gap: var(--space-medium);
  padding: var(--space-large);

  .card-stp-thumbs-buttons-wrapper {
    display: none;
  }

  .img-wrapper {
    width: 127px;
    flex-shrink: 0;
    flex-grow: 0;
    aspect-ratio: 1/1;

    .ds-image.img {
      width: 100%;
      height: 100%;
      padding-top: 0;
      min-width: 100%;
    }

    .ds-image.img img {
      width: 100%;
      height: 100%;
      border-radius: var(--border-radius-medium) var(--border-radius-medium);
      object-fit: cover;
    }
  }

  &:not(.placeholder) {
    .img-wrapper>.ds-image.img>img {
      width: 100%;
      border-radius: var(--border-radius-medium) var(--border-radius-medium);
    }
  }

  .ds-card-link {
    inset-inline-end: 0;
  }

  .meta {
    padding: var(--space-xsmall) 0;

    .info-wrap .title {
      font-size: var(--font-size-small);
      margin-bottom: 0;
    }

    .info-wrap .excerpt {
      display: none;
    }

    .sections-card-footer {
      margin-top: var(--space-small);
    }
  }

  .card-stp-button-hover-background {
    padding-block-start: unset;
  }

  .card-stp-button-position-wrapper {
    inset-inline-end: 28px;

    .card-stp-button {
      display: none;
    }
  }
}

@mixin section-card-medium {
  grid-row: span 2;
  grid-column: span 1;
  flex-direction: column;
  padding: 0;
  align-items: initial;
  gap: initial;

  .card-stp-thumbs-buttons-wrapper {
    display: block;
  }

  .img-wrapper {
    width: 100%;
    position: relative;
    // reset values inherited from small card mixin
    flex-grow: initial;
    flex-shrink: initial;
    aspect-ratio: initial;
  }

  &:not(.placeholder) {
    .img-wrapper>.ds-image.img>img {
      border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
    }
  }

  .meta {
    padding: var(--space-large);

    .info-wrap {
      .title {
        // show only 2 lines of copy
        font-size: var(--font-size-root);
        margin-bottom: var(--space-small);
      }

      .excerpt {
        display: block;
        -webkit-line-clamp: 2;
      }
    }
  }
}

// DS Large Card
@mixin section-card-large {
  grid-row: span 2;
  grid-column: span 2;

  &.ds-card.sections-card-ui {
    @media (min-width: $break-point-layout-variant ) and (max-width: $break-point-widest ),
      (min-width: $break-point-sections-variant ) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--space-xlarge);
      padding: var(--space-xxlarge);

      .ds-image.img {
        // Square ratio
        aspect-ratio: 1/1;

        img {
          border-radius: var(--border-radius-large);
        }
      }

      .meta {
        padding: 0;

        .title {
          -webkit-line-clamp: 3;
          font-size: var(--font-size-large);
          font-weight: var(--font-weight-bold);
        }

        .excerpt {
          -webkit-line-clamp: 3;
          font-size: var(--font-size-root);
        }
      }
    }
  }
}

// Bug 1930974 - Override parent wrapper width for topsites container
// Use (almost all) default wrapper widths with the sections-grid breakpoints
.has-sections-grid .ds-outer-wrapper-breakpoint-override {
  .ds-layout-topsites {
    width: 100vw;
    margin-inline-start: 50%;
    transform: translate3d(-50%, 0, 0);

    > div {
      width: 266px;
      margin-inline: auto;

      @media (min-width: $break-point-medium) {
        width: 266px;
      }

      @media (min-width: $break-point-layout-variant) {
        width: 510px;
      }

      @media (min-width: $break-point-widest) {
        width: 986px;
      }
    }
  }

  // Note this breakpoint doesn't use set the same default width (746px).
  // The sections layout uses a different $break-point-layout-variant but not $break-point-large.
  // This rule below maintains the topsites layout to stack two rows x four tiles
  // when the sections grid changes to a two column layout
  @media (min-width: $break-point-large) {
    .ds-layout-topsites .hide-for-narrow {
      display: inline-block;
    }
  }
}

// Bug 1930974 - Override parent wrapper width for topsites container
// Use the variant a/b wrapper widths
.has-sections-grid.layout-variant-a .ds-outer-wrapper-breakpoint-override,
.has-sections-grid.layout-variant-b .ds-outer-wrapper-breakpoint-override {
  .ds-layout-topsites {
    width: 100vw;
    margin-inline-start: 50%;
    transform: translate3d(-50%, 0, 0);

    > div {
      margin-inline: auto;
      width: 346px;

      @media (min-width: $break-point-medium) {
        width: 346px;
      }

      @media (min-width: $break-point-layout-variant) {
        width: 659px;
      }

      @media (min-width: $break-point-widest) {
        width: 989px;
      }

      @media (min-width: $break-point-sections-variant) {
        width: 1311px;
      }
    }

  }
}

.has-sections-grid {
  .ds-outer-wrapper-breakpoint-override main {
    width: auto;

    .ds-card {
      // card should take up availible space in grid
      width: 100%;
      height: 100%;
    }

    .body-wrapper {
      width: 346px;
      margin: 0 auto;
    }

    @media (min-width: $break-point-medium) {
      width: auto;

      .body-wrapper {
        width: 346px;
      }
    }

    @media (min-width: $break-point-layout-variant) {
      width: auto;

      .body-wrapper {
        width: 659px;
      }
    }

    @media (min-width: $break-point-widest) {
      width: auto;

      .body-wrapper {
        width: 989px;
      }
    }

    @media (min-width: $break-point-sections-variant) {
      width: auto;

      .body-wrapper {
        display: flex;
        flex-direction: column;
        width: 1311px;
      }

      .ds-highlights .card-outer {
        min-width: 216px;
      }
    }
  }
}

.ds-section-wrapper {
  padding-inline: 0;

  .ds-section {
    border-block-start: 1px solid var(--newtab-button-static-active-background);
    padding-block-end: 50px;

    &:last-child {
      padding-block-end: 0;
    }

    .section-heading {
      margin-block: var(--space-small) var(--space-xlarge);

      .section-title {
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-xxlarge);
        color: var(--newtab-text-primary-color);
        margin-block: 0;
      }

      .section-subtitle {
        margin-block: var(--space-small) 0;
        font-size: var(--font-size-root);
      }
    }
  }
}

.ds-section-grid.ds-card-grid {
  grid-gap: var(--space-large);
  grid-template-rows: repeat(auto-fill, 150px);

  @media (min-width: $break-point-medium) {
    grid-template-columns: repeat(1, 300px);

    @for $i from 0 through 6 {
      .ds-card[data-position-one="#{$i}"] {
        order: $i;
      }
    }

    .col-1-small {
      @include section-card-small;
    }

    .col-1-medium {
      @include section-card-medium;
    }

    .col-1-large {
      @include section-card-large;
    }
  }

  @media (min-width: $break-point-layout-variant) {
    grid-template-columns: repeat(2, 300px);

    @for $i from 0 through 6 {
      .ds-card[data-position-two="#{$i}"] {
        order: $i;
      }
    }

    .col-2-small {
      @include section-card-small;
    }

    .col-2-medium {
      @include section-card-medium;
    }

    .col-2-large {
      @include section-card-large;
    }
  }

  @media (min-width: $break-point-widest) {
    grid-template-columns: repeat(3, 300px);
    gap: var(--space-large);

    @for $i from 0 through 6 {
      .ds-card[data-position-three="#{$i}"] {
        order: $i;
      }
    }

    .col-3-small {
      @include section-card-small;
    }

    .col-3-medium {
      @include section-card-medium;
    }

    .col-3-large {
      @include section-card-large;
    }
  }


  @media (min-width: $break-point-sections-variant) {
    grid-template-columns: repeat(4, 300px);

    @for $i from 0 through 6 {
      .ds-card[data-position-four="#{$i}"] {
        order: $i;
      }
    }

    .col-4-small {
      @include section-card-small;
    }

    .col-4-medium {
      @include section-card-medium;
    }

    .col-4-large {
      @include section-card-large;
    }
  }
}
