/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.extension-controlled-notification > .popup-notification-body-container > .popup-notification-body {
  width: 30em;
}

.extension-controlled-notification > .popup-notification-body-container > .popup-notification-body > hbox > vbox > .popup-notification-description {
  font-weight: 600;
}

.extension-controlled-notification {
  margin-bottom: 0;
}

.extension-controlled-icon {
  height: 16px;
  width: 16px;
  vertical-align: bottom;

  &.alltabs-icon {
    background: url("chrome://browser/content/firefoxview/view-opentabs.svg");
    -moz-context-properties: fill;
    fill: currentColor;
    height: 20px;
    width: 20px;
    /* This icon has a lot of extra space to the sides, reduce that a little. */
    margin-block: -2px;
  }
}

.extension-controlled-notification > .popup-notification-body-container > .popup-notification-body > .popup-notification-bottom-content > .popup-notification-warning,
.extension-controlled-notification > .popup-notification-body-container > .popup-notification-icon {
  display: none;
}
