/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:host {
  --breadcrumb-link-color: var(--link-color);
  --breadcrumb-link-color-hover: var(--link-color-hover);
  --breadcrumb-link-color-active: var(--link-color-active);
  --breadcrumb-link-color-visited: var(--link-color-visited);

  display: flex;
  align-items: center;
  font-size: var(--font-size-small);
}

a {
  line-height: 100%;
  color: var(--breadcrumb-link-color);
  white-space: nowrap;

  &:visited {
    color: var(--breadcrumb-link-color-visited);
  }

  &:hover {
    color: var(--breadcrumb-link-color-hover);

    &:active {
      color: var(--breadcrumb-link-color-active);
    }
  }
}
