<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this file,
   - You can obtain one at http://mozilla.org/MPL/2.0/. -->
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" role="document">
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src resource: chrome:; object-src 'none'; img-src chrome:;"
    />

    <link id="favicon" rel="icon" type="image/svg+xml" />

    <title
      data-l10n-id="delete-profile-page-title"
      data-l10n-args='{"profilename": ""}'
    ></title>

    <link rel="localization" href="branding/brand.ftl" />
    <link rel="localization" href="browser/profiles.ftl" />

    <link rel="stylesheet" href="chrome://global/skin/in-content/common.css" />
    <link
      rel="stylesheet"
      href="chrome://browser/content/profiles/delete-profile-card.css"
    />

    <script
      type="module"
      src="chrome://browser/content/profiles/delete-profile-card.mjs"
    ></script>

    <script src="chrome://browser/content/contentTheme.js"></script>
  </head>

  <body>
    <delete-profile-card
      aria-labelledby="delete-profile-page-title"
    ></delete-profile-card>
  </body>
</html>
