/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://browser/content/profiles/profiles-pages.css");

.data-list {
  display: flex;
  flex-direction: column;
  gap: var(--space-large);
  padding: var(--space-xxlarge);
  margin-inline-end: calc(2 * var(--space-xxlarge));
  margin-block-end: var(--space-large);
  background-color: var(--in-content-box-info-background);
  border-radius: var(--border-radius-medium);
}

.data-list-item {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size-large);
}
