/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

body {
  display: flex;
  justify-content: center;
}

profile-selector {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 10%;
}

.logo {
  width: 64px;
  height: 64px;
}

.profiles-body-text {
  width: 70%;
  text-align: center;
}

.profile-list {
  width: 100%;
  display: flex;
}
