/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#avatar-selector {
  width: 285px;

  .custom-avatar-area {
    width: 100%;
    height: 194px;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.button-group {
  display: flex;
  justify-content: center;

  moz-button::part(button) {
    border-radius: 0;
  }

  moz-button:first-child::part(button) {
    border-end-end-radius: 0;
    border-start-end-radius: 0;
    border-start-start-radius: var(--button-border-radius);
    border-end-start-radius: var(--button-border-radius);
  }

  moz-button:last-child::part(button) {
    border-end-start-radius: 0;
    border-start-start-radius: 0;
    border-end-end-radius: var(--button-border-radius);
    border-start-end-radius: var(--button-border-radius);
  }
}

#avatars::part(inputs) {
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--space-xsmall);
  width: 253px;
}

.avatar-button::part(button) {
  --button-icon-fill: transparent;
  --button-icon-stroke: currentColor;

  /* Scale up 16x16 icon (12x12 + 4x4 padding) to 20px for normal display size */
  --icon-size-default: 20px;
}

.custom-avatar-area {
  width: 230px;
  height: 194px;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#upload-text {
  color: var(--link-color);
  text-decoration: underline;
}

#drag-text {
  font-size: var(--font-size-small);
}

#custom-avatar-image {
  max-width: 100%;
  max-height: 100%;
}

.custom-avatar-actions {
  justify-content: center;
}

#custom-image {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}

#file-messages {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-small);
}

moz-visual-picker-item {
  --visual-picker-item-border-color: transparent;
}
