/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:host {
  --header-avatar-size: 80px;
}

html,
body {
  min-width: 100%;
  width: fit-content;
  min-height: 100vh;
}

body {
  display: flex;
  justify-content: center;

  background-color: var(--newtab-background-color, var(--background-color-canvas));
}

edit-profile-card,
delete-profile-card,
new-profile-card {
  display: block;
  margin: var(--space-xxlarge) var(--space-large);

  @media only screen and (width >= 700px) {
    width: 672px;
    margin: calc(1.5 * var(--space-xxlarge)) 0;
  }

  @media only screen and (width >= 830px) {
    width: 768px;
    margin: calc(1.5 * var(--space-xxlarge)) 0;
  }

  @media only screen and (width >= 1280px) {
    width: 912px;
    margin: calc(1.5 * var(--space-xxlarge)) 0;
  }

  @media only screen and (width >= 1366px) {
    margin: calc(2 * var(--space-xxlarge)) 0;
  }
}

#edit-profile-card,
#delete-profile-card {
  display: flex;
  gap: var(--space-xxlarge);
  padding: var(--space-xxlarge);

  @media only screen and (width < 700px) {
    flex-direction: column;
  }
}

#profile-content {
  display: flex;
  flex-direction: column;
  gap: var(--space-medium);
}

#header-avatar {
  -moz-context-properties: fill, stroke;

  width: var(--header-avatar-size);
  height: var(--header-avatar-size);
  border-radius: var(--border-radius-circle);
}

.sub-header {
  font-size: var(--font-size-large);
  color: var(--text-color-deemphasized);
}
