/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://browser/skin/browser-shared.css");
@import url("chrome://browser/skin/contextmenu.css");

/**
 * We still want to do some of the tweaks that browser-colors does, like
 * disabling the toolbar field border and backgrounds.
 */
@media not (prefers-contrast) {
  :root:not([lwtheme]) {
    @media (-moz-gtk-theme-family) {
      --tabs-navbar-separator-style: none;
      @media (prefers-color-scheme: light) {
        --urlbar-box-bgcolor: #fafafa;
      }
    }
  }
}

#menubar-items {
  flex-direction: column; /* for flex hack */
  justify-content: normal; /* align the menubar to the top also in customize mode */
}

/**
 * Titlebar drawing:
 *
 * GTK windows have both a window radius (exposed via the
 * `-moz-gtk-csd-titlebar-radius`) environment variable, and a window shadow
 * (which we can't read back from GTK). Note that the -moz-window-decorations
 * (in X11) or the compositor (in Wayland) does draw the shadow corners
 * already.
 */
@media (-moz-gtk-csd-transparency-available) {
  :root[customtitlebar] {
    background-color: transparent;

    &[sizemode="normal"]:not([gtktiledwindow="true"]) {
      /* This takes care of drawing our window decorations on X11 */
      -moz-default-appearance: -moz-window-decorations;
      appearance: auto;

      #navigator-toolbox,
      dialog::backdrop {
        border-top-left-radius: env(-moz-gtk-csd-titlebar-radius);
        border-top-right-radius: env(-moz-gtk-csd-titlebar-radius);
      }

      /* stylelint-disable-next-line media-query-no-invalid */
      @media -moz-pref("widget.gtk.rounded-bottom-corners.enabled") {
        #navigator-toolbox {
          /* The body clip below covers this. */
          border-radius: 0;
        }

        body,
        dialog::backdrop {
          /* Use an uniform clip to allow WebRender to optimize it better */
          border-radius: env(-moz-gtk-csd-titlebar-radius);
        }
      }
    }
  }
}

/* Bookmark menus */
.bookmark-item {
  &:is(menu, menuitem) {
    min-width: 0;
    max-width: 32em;
  }

  &:not(.subviewbutton) > .menu-icon {
    margin-block: 0;
  }

  /* Bookmark drag and drop styles */
  &[dragover-into="true"] {
    background: SelectedItem !important;
    color: SelectedItemText !important;
  }
}

/* Address bar */
#urlbar,
#searchbar {
  font-size: 1.05em;
}

/* stylelint-disable-next-line media-query-no-invalid */
@media -moz-pref("browser.urlbar.experimental.expandTextOnFocus") {
  #urlbar[breakout-extend] {
    font-size: 1.14em;
  }
}

/* AutoComplete */

#PopupAutoComplete > richlistbox > richlistitem[originaltype~="datalist-first"] {
  border-top: 1px solid ThreeDShadow;
}

/* Tabstrip */

#tabbrowser-tabs {
  /* override the native styling */
  border-bottom: 0;
}

#TabsToolbar {
  min-height: 0;
}

.browser-titlebar,
#main-menubar {
  appearance: none;
  background-color: transparent;
  color: inherit;
}

/* All tabs menupopup */

.alltabs-item[selected="true"] {
  font-weight: bold;
}

#UITourHighlight {
  /* Below are some fixes for people without an X compositor on Linux.
     This is why we can't have nice things: */
  /* Animations don't repaint properly without an X compositor. */
  animation-name: none !important;
  /* Opacity rounds to 0 or 1 on Linux without an X compositor, making the
     background color not visible. Anti-aliasing is not available either. Make a
     thicker outline and cancel border-radius for that case. */
  outline: 4px solid rgb(0, 200, 215);
  border-radius: 0 !important;
}

#UITourTooltipDescription {
  font-size: 1.05rem;
}

#UITourTooltipClose {
  margin-inline-end: -4px;
}

/**
 * Override the --arrowpanel-padding so the background extends
 * to the sides and bottom of the panel.
 */
#UITourTooltipButtons {
  margin-inline-start: -10px;
  margin-bottom: -10px;
}

/* The button box must appear on top of the navigator-toolbox in order for
 * click and hover mouse events to work properly for the button in the restored
 * window state. Otherwise, elements in the navigator-toolbox, like the menubar,
 * can swallow those events. */
.titlebar-buttonbox {
  z-index: 1;
  align-items: stretch;
  /* The spacing on each side of the titlebar button. In libadwaita, that's
   * 3px of gap + 5px * 2 of padding = 13px / 2, see:
   * https://gitlab.gnome.org/GNOME/libadwaita/-/blob/fe21c3c823443a8f2333cf3cc09ba3d0fa753228/src/stylesheet/widgets/_header-bar.scss#L164
   * We want a contiguous hit region so we use 6.5px of padding instead.
   */
  --titlebar-button-spacing: 6.5px;
  --titlebar-button-end-spacing: 10px;
  --max-titlebar-button-position: max(
    env(-moz-gtk-csd-maximize-button-position),
    env(-moz-gtk-csd-minimize-button-position),
    env(-moz-gtk-csd-close-button-position)
  );
}

@media (-moz-gtk-csd-reversed-placement) {
  .titlebar-buttonbox-container {
    order: -1;
  }
}

.titlebar-button {
  appearance: none;
  color: inherit;
  align-items: center;
  padding: 0;
  padding-inline: var(--titlebar-button-spacing);
  padding-inline-end: max(
    var(--titlebar-button-spacing),
    var(--titlebar-button-end-spacing) * (var(--titlebar-button-position) - var(--max-titlebar-button-position) + 1)
  );
  order: var(--titlebar-button-position);
  /* In GTK applications, you can drag the window by titlebar buttons */
  -moz-window-dragging: drag;

  > .toolbarbutton-icon {
    border-radius: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    -moz-context-properties: stroke;
    stroke: currentColor;
    /* Roughly the Adwaita size */
    width: 24px;
    height: 24px;
    /* Matches the libadwaita transition */
    transition: background-color 0.2s ease;
  }

  &:hover > .toolbarbutton-icon {
    background-color: color-mix(in srgb, currentColor 15%, transparent);
  }

  &:hover:active > .toolbarbutton-icon {
    background-color: color-mix(in srgb, currentColor 30%, transparent);
  }

  &:focus-visible > .toolbarbutton-icon {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-inset);
  }
}

.titlebar-restore,
.titlebar-max {
  --titlebar-button-position: env(-moz-gtk-csd-maximize-button-position);

  > .toolbarbutton-icon {
    background-image: -moz-symbolic-icon(window-maximize-symbolic);
  }

  @media not (-moz-gtk-csd-maximize-button) {
    display: none;
  }
}

.titlebar-restore > .toolbarbutton-icon {
  background-image: -moz-symbolic-icon(window-restore-symbolic);
}

.titlebar-close {
  --titlebar-button-position: env(-moz-gtk-csd-close-button-position);

  > .toolbarbutton-icon {
    background-image: -moz-symbolic-icon(window-close-symbolic);
  }

  @media not (-moz-gtk-csd-close-button) {
    display: none;
  }
}

.titlebar-min {
  --titlebar-button-position: env(-moz-gtk-csd-minimize-button-position);

  > .toolbarbutton-icon {
    background-image: -moz-symbolic-icon(window-minimize-symbolic);
  }

  @media not (-moz-gtk-csd-minimize-button) {
    display: none;
  }
}
