/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */



body, html {
  justify-content: normal;
  margin: 0;
  font-family: sans-serif;

  --secondary-color: #8c8c8c;
  --primary-color: #2b2b2b;
  --blue-primary-color: #00a7db;
}

#logo {
  background-image: url('chrome://global/content/aboutReplay/assets/replay.svg');
  width: 20px;
  height: 16px;
  background-size: contain;
}

header {
  height: 30px;
  display: flex;
  padding: 0 1rem;
  align-items: center;
  box-shadow: 0px 2px 4px #e3e3e3;
}

.recordings-list {
  display: flex;
  margin: 4rem 2rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.recording {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 300px;
  border-radius: 5px;
  text-decoration: none;
}

.recording .title {
  margin: 1.0rem 0 0.5rem;
  line-height: 1.5rem;
  font-weight: 500;
  font-size: 1rem;
  color: var(--primary-color);
}

.recording .secondary {
  color: var(--secondary-color);
  line-height: 1rem;
}



.no-recordings {
  text-align: center;
  font-style: italic;
}

a {
  color: black;
}

.recording .actions {
  display: flex;
  padding-bottom: 0.5rem;
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
}

.recording .screenshot {
  width: 100%;
  height: 160px;
  background: #ccc;
  justify-content: center;
  display: flex;
  position: relative;
}
img[src=""] {
  display: none;
}

.recording .screenshot img {
  height: 100%;
}

.recording .screenshot:hover .actions > div {
  opacity: 0.7;
}

.recording .screenshot .actions > div:hover {
  opacity: 0.9;
}

.no-recordings {
  width: 500px;
  margin: 0 auto;
}

.actions .copylink .icon {
  mask-image: url('chrome://global/content/aboutReplay/assets/link.svg');
}

.actions .remove .icon {
  mask-image: url('chrome://global/content/aboutReplay/assets/trash.svg');
  width: 0.9rem;
}

.actions .icon {
  width: 1rem;
  height: 1rem;
  background: var(--primary-color);
  transition: background-color 0.5s ease-in-out;
}

.actions > div {
  background: white;
  border-radius: 20px;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.actions .copied {
  background: var(--blue-primary-color);
  transition: background-color 0.5s ease-in-out;
}
