/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

html {
  position: fixed;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: url(chrome://browser/content/messagepreview/limelight.svg)
    center/contain no-repeat;
  -moz-context-properties: fill, fill-opacity;
  fill: var(--icon-color);
  fill-opacity: 0.2;
}

#light-switch {
  background: url(chrome://browser/content/messagepreview/switch.svg) center/contain no-repeat;
  fill: var(--icon-color);
  stroke: var(--icon-color);
  fill-opacity: 0.8;
  height: 80px;
  width: 80px;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  #light-switch {
    transform: scaleY(-1);
  }
}

.hint-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hint {
  max-width: 40em;
  font-size: 1.2em;
  text-align: center;
}
