/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

html {
  background:none;
  padding:0px;
  font:message-box;
  background-color:#D9E5F0;
}

body {
  border:0px;
  overflow:auto;
  margin:0px; 
  width:100%;
  min-height:100%;
  

}

.warningBackground {
  display: none;
  background: -moz-Dialog;
  width:100%;
  height:100%;
  z-index:10;
  top:0;
  left:0;
  position:fixed;
}

.warningMessage {
  color: -moz-FieldText;
  position: relative;
  min-width: 330px;
  max-width: 50em;
  margin: 4em auto;
  border: 1px solid ThreeDShadow;
  border-radius: 10px;
  padding: 3em;
  -moz-padding-start: 30px;
  background: -moz-Field;
  margin-left: auto;
  text-align: center;
}

.tab {
  display: none;
}

.active {
  display: block;
}

#menu .selected {
  background-color: #EFF4F8;
  border:1px solid #CCD6DE; 
}

table thead th {
  padding:10px;
  text-align:left;
}

table tbody tr {
  border-bottom:2px solid gray;
}

table td {
  
  padding:0px;
  border-bottom:1px solid gray;
  padding:10px;
  margin:0px;
}

table tbody tr:hover {
  background-color:#D9E5F0;
}

div#sidebar {
  height:auto;
  min-height:100%;
  float:left;
  width:15%;
  margin:2.5%;
} 

div#http,div#dns,div#sockets,div#websockets {
  float:right;
  width:69%;
  min-height:100%;
  height:auto;
  padding:2.5%;
  margin:2.5%;
  background-color:#E8EFF6;
  border:1px solid #C7D3DE;
}

div#menu button {
  clear:both;
  background:none;
  border:none;
  content:left;
  padding:10px;
  display:block;
  margin:0px 0px 5px 0px;
  width:100%;
  cursor:pointer;
  text-align:left;
}


div#menu button:hover {
  background-color: #EFF4F8;
  border:1px solid #CCD6DE;
}
