/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:host([scrolledtostart])::part(overflow-start-indicator),
:host([scrolledtoend])::part(overflow-end-indicator),
:host(:not([overflowing])) > toolbarbutton {
  visibility: collapse;
}

slot {
  display: flex;
  flex: 1 0 0;
  flex-direction: inherit;
}

/* Scroll arrows */

toolbarbutton {
  color: inherit;
  list-style-image: url("chrome://global/skin/icons/arrow-down-12.svg");
  -moz-context-properties: fill, fill-opacity;
  fill: currentColor;
  fill-opacity: 1;
  padding: 2px;
}

toolbarbutton[disabled] {
  fill-opacity: var(--toolbarbutton-disabled-opacity);
}

:host([orient="horizontal"]) > toolbarbutton {
  list-style-image: url("chrome://global/skin/icons/arrow-left.svg");
}

#scrollbutton-up > .toolbarbutton-icon {
  transform: scaleY(-1);
}

:host([orient="horizontal"]) > #scrollbutton-down:-moz-locale-dir(ltr) > .toolbarbutton-icon,
:host([orient="horizontal"]) > #scrollbutton-up:-moz-locale-dir(rtl) > .toolbarbutton-icon {
  transform: scaleX(-1);
}

toolbarbutton > .toolbarbutton-text {
  display: none;
}

@media not (-moz-platform: macos) {
  :host(:not([clicktoscroll])) > toolbarbutton {
    appearance: none;
  }
}

scrollbox {
  min-width: 0;
  min-height: 0;
}
