/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.notificationbox-stack {
  width: 100%;

  /* Prevent the animation from overlapping the navigation toolbar */
  overflow: clip;

  &[notificationside="top"] {
    /* Create a stacking context for the box-shadow */
    position: relative;
    z-index: 1;
  }
}

notification-message.animated {
  transition: margin-top 300ms var(--animation-easing-function), opacity 300ms var(--animation-easing-function);
}
