<!DOCTYPE html>
<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.  -->

<html>
  <head>
    <title>Loop Parent</title>
    <script type="text/javascript" src="wrapper.js"></script>
  </head>
  <body onload="initWrapper('loop-content-template', 'loop-content-iframe');">
    <iframe id="loop-content-iframe" sandbox="allow-scripts" src="about:blank"
            height="100%" width="100%">
    </iframe>

    <!-- All of the elements of the following template will be loaded into the
         iframe above by the "initWrapper" function when the page is done
         loading. Because of the "sandbox" attribute, they will operate in
         a content context rather than a chrome context. -->
    <template id="loop-content-template">
      <script type="text/javascript" src="libs/l10n.js"></script>
      <script type="text/javascript" src="libs/zepto.min.js"></script>
      <script type="text/javascript" src="libs/lodash.min.js"></script>
      <script type="text/javascript" src="libs/backbone-min.js"></script>
      <script type="text/javascript" src="panel.js"></script>

      <p data-l10n-id="coming-soon">
        Soon you'll be able to get a url to share with your friends and chat
        with them
      </p>
    </template>

  </body>
</html>

