/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin/menu-shared.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* checked menuitems */

menupopup[needsgutter] {
  /* although only menuitems may be checked, apply this to
     menus and menucaptions as well to maintain alignment */
  > menu,
  > menuitem,
  > menucaption {
    padding-inline-start: 0;

    &::before {
      content: '\2713'; /* a checkmark */
      display: inline-block;
      vertical-align: middle;
      line-height: 0;
      visibility: hidden;
      padding-inline: 4px;
      font-weight: bold;
    }
  }

  > menuitem:is([checked="true"], [selected="true"])::before {
    visibility: inherit;
  }
}
