#if 0
#
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
#
# This template file is used to construct the single-file archive of a backup.
# This template file is part of our source code, and so this is why we include
# the license header above. We do not, however, want to apply the header to
# backup files that are generated via this template. This is why we use the
# pre-processor mechanism to remove this comment block at build time.
#
# See Archive.worker.mjs for more details on how this template is used.
#
#endif
<!DOCTYPE html>
<!-- Version: 1 -->
<html lang="{{locale}}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
  </head>
  <body>
    <p>This is placeholder content for now.</p>
  </body>
</html>
