#if 0
#
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
#
# This template file is used to construct the single-file archive of a backup.
# This template file is part of our source code, and so this is why we include
# the license header above. We do not, however, want to apply the header to
# backup files that are generated via this template. This is why we use the
# pre-processor mechanism to remove this comment block at build time.
#
# See Archive.worker.mjs for more details on how this template is used.
#
#endif
<!DOCTYPE html>
<!-- Version: 1 -->
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title data-l10n-id="backup-file-title"></title>
    <style>
    {{styles}}
    </style>
  </head>
  <body>
    <img id="logo" role="presentation" />
    <h1 data-l10n-id="backup-file-header"></h1>
    <p data-l10n-id="backup-file-intro">
      <a data-l10n-name="backup-file-support-link" id="support-link" target="_blank"></a>
    </p>
    <ul>
      <li id="last-backed-up" data-l10n-id="backup-file-last-backed-up"></li>
      <li id="encryption-state"></li>
      <li id="creation-device" data-l10n-id="backup-file-creation-device"></li>
    </ul>
    <hr />
    <section class="moz-browser">
      <h2 data-l10n-id="backup-file-how-to-restore-header"></h2>
      <ol>
        <li data-l10n-id="backup-file-moz-browser-restore-step-1"></li>
        <li data-l10n-id="backup-file-moz-browser-restore-step-2"></li>
        <li data-l10n-id="backup-file-moz-browser-restore-step-3"></li>
      </ol>
    </section>
    <section class="other-browser">
      <ol>
        <li><span data-l10n-id="backup-file-other-browser-restore-step-1"></span><a id="download-moz-browser" class="button-link" data-l10n-id="backup-file-download-moz-browser-button"></a></li>
        <li data-l10n-id="backup-file-other-browser-restore-step-2"></li>
      </ol>
    </section>
  </body>
  <script>
  {{script}}
  </script>
</html>
