/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin/in-content/common.css");
@import url("chrome://browser/content/backup/backup-common.css");

:host {
  --margin-inline-start-checkbox-content: calc(var(--checkbox-margin-inline) + var(--checkbox-size));
  flex: 1;
}

.backup-dialog {
  overflow: visible;
}

#turn-on-scheduled-backups-dialog {
  width: 27.8rem;
}

#turn-off-scheduled-backups-dialog,
#enable-backup-encryption-dialog,
#disable-backup-encryption-dialog {
  width: 23.94rem;
}

#restore-from-backup-dialog {
  width: 29.27rem;
}

#backup-sensitive-data-checkbox {
  display: flex;
  flex-direction: column;
  flex: 1;
  row-gap: var(--space-xsmall);
}

#backup-sensitive-data-checkbox-label {
  display: flex;
  align-items: center;
}

#backup-sensitive-data-checkbox-description {
  margin-inline-start: var(--margin-inline-start-checkbox-content);
}

.backups-control {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "header button"
    "description .";
  grid-gap: 0 12px;
  align-items: center;
}

section {
  margin-block-start: 24px;
}

#last-backup-info {
  color: var(--text-color-deemphasized);
}

#last-backup-location-control,
#last-backup-info > div {
  margin-block: 14px;
}

#last-backup-location-control {
  display: flex;
  align-items: center;
  gap: 10px;
  text-overflow: ellipsis ellipsis;
}

#backup-password-controls {
  display: flex;
  margin-block: var(--space-large);
}
