/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace html url("http://www.w3.org/1999/xhtml");

.popup-notification-body[popupid="addon-progress"],
.popup-notification-body[popupid="addon-install-confirmation"] {
  width: 28em;
  max-width: 28em;
}

.addon-install-confirmation-name {
  font-weight: bold;
}

html|*.addon-webext-perm-list {
  margin-block-end: 0;
  padding-inline-start: 0;

  > html|li {
    list-style: none;

    /* style the permissions list items that are not editable to use the check.svg image */
    &.webext-perm-granted::before {
      content: "";
      background-image: url("chrome://global/skin/icons/check.svg");
      background-repeat: no-repeat;
      -moz-context-properties: fill;
      fill: currentColor;
      /* style the permissions list items to match sizes and margins used by the
       * checkbox xul element to make sure they are properly aligned with the
       * private browsing checkbox at the end of the list. */
      display: inline-flex;
      width: var(--checkbox-size);
      height: var(--checkbox-size);
      margin-inline-end: var(--checkbox-margin-inline);
      vertical-align: text-bottom;
    }
  }
}

.addon-webext-perm-single-entry {
  margin-top: 11px;
}

.addon-webext-perm-text,
.addon-webext-perm-single-entry {
  margin-inline-start: 0;
}

.addon-webext-perm-text-multiline {
  margin-top: 1em;
  white-space: pre-line;
}

.popup-notification-description[popupid="addon-webext-permissions"],
.popup-notification-description[popupid="addon-webext-permissions-notification"] {
  margin-inline-start: -1px;
}

.addon-webext-perm-notification-content,
.addon-installed-notification-content {
  margin-top: 0;
}

.addon-installed-notification-content > checkbox {
  margin: 8px 4px 2px;
}

.addon-webext-name {
  display: inline;
  font-weight: bold;
  margin: 0;
}

.addon-warning-icon {
  -moz-context-properties: fill;
  fill: #FFBF00;
}
