/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

button {
  appearance: none;
  width: 100%;
  background: var(--button-background-color-ghost);
  color: var(--button-text-color-ghost);
  border: var(--border-width) solid var(--border-color-interactive);
  padding: var(--space-large);
  border-radius: var(--border-radius-medium);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: inherit;

  &:focus-visible {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
  }

  &:hover {
    background-color: var(--button-background-color-ghost-hover);
    color: var(--button-text-color-ghost-hover);
  }

  &:hover:active:not(:disabled) {
    background-color: var(--button-background-color-ghost-active);
    color: var(--button-text-color-ghost-active);
  }
}

.nav-icon {
  width: var(--icon-size-default);
  height: var(--icon-size-default);
  flex-shrink: 0;
  -moz-context-properties: fill, stroke;
  fill: var(--icon-color);
  stroke: var(--icon-color);

  &:dir(rtl) {
    scale: -1 1;
  }
}
