/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin/in-content/common.css");

#tag-pings:invalid + label > span {
  font-weight: var(--font-weight-bold);
  text-decoration: underline;
  color: var(--text-color-error);
}

#feedback {
  visibility: hidden;
  position: fixed;
  z-index: 1;
  inset-inline-start: 50%;
  transform: translateX(-50%);
  bottom: var(--space-medium);
}

#log-pings {
  vertical-align: text-top;
  margin-inline-end: 0;
}
