/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

:host {
  background-color: var(--background-color-box);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius-small);
  box-shadow: var(--box-shadow-10);
  min-width: 255px;
  display: grid;
}

.line-item:focus-visible,
.edit-line-container:focus-visible {
  z-index: 1;
}

.edit-line-container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: end;

  > .edit-button {
    margin: var(--space-medium);
  }
}

moz-message-bar {
  border-radius: 0 0 var(--border-radius-small) var(--border-radius-small);
  height: 50px;
  position: relative;

  > moz-button {
    position: absolute;
    inset-inline-end: var(--space-medium);
    inset-block: 0;
    margin: auto 0;
  }
}
