<!DOCTYPE html>
<meta charset=utf-8>

<style>
div { font: 16px system-ui; margin: 1em; border: 1px solid gray; }
.closed { list-style-type: disclosure-closed; }
.open { list-style-type: disclosure-open; }
</style>

<div style="width: 10em">
<ul>
<li class=closed>closed
<li class=open>open
</ul>
<ul dir=rtl>
<li class=closed>closed
<li class=open>open
</ul>
</div>

<div style="writing-mode: vertical-lr; height: 10em">
<ul>
<li class=closed>closed
<li class=open>open
</ul>
<ul dir=rtl>
<li class=closed>closed
<li class=open>open
</ul>
</div>

<div style="writing-mode: vertical-rl; height: 10em">
<ul>
<li class=closed>closed
<li class=open>open
</ul>
<ul dir=rtl>
<li class=closed>closed
<li class=open>open
</ul>
</div>
