/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* BreacrumbsWidget */

.breadcrumbs-widget-item {
  direction: ltr;
}

.breadcrumbs-widget-item {
  -moz-user-focus: normal;
}

/* VariablesView */

.variables-view-container {
  overflow-x: hidden;
  overflow-y: auto;
  direction: ltr;

  label {
    margin: 0;
  }
}

.variables-view-element-details:not([open]) {
  display: none;
}

.variable-or-property {
  -moz-user-focus: normal;
}

.variables-view-scope > .title,
.variable-or-property > .title {
  overflow: hidden;
}

.variables-view-scope[untitled] > .title,
.variable-or-property[untitled] > .title,
.variable-or-property[unmatched] > .title {
  display: none;
}

.variable-or-property[pseudo-item] > tooltip {
  display: none;
}

.variable-or-property > .title .toolbarbutton-text {
  display: none;
}

.variables-view-container[aligned-values] [optional-visibility] {
  display: none;
}

/* Table Widget */

.table-widget-body label {
  margin: 0;
}

.table-widget-body > .devtools-side-splitter:last-child {
  display: none;
}
