.trending-searches-pill-wrapper {
  .trending-searches-title-wrapper {
    display: flex;
    align-items: baseline;
    gap: var(--space-small);

    .trending-searches-title {
      margin-block-end: 0;
    }

    .close-open-trending-searches {
      margin-inline-start: auto;
    }
  }

  .trending-searches-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    height: 45px;
    overflow: hidden;

    .trending-search-item {
      background-color: var(--background-color-canvas);
      border: var(--border-width) solid var(--table-row-background-color-alternate);
      border-radius: var(--border-radius-circle);
      color: var(--newtab-contextual-text-primary-color);
      padding: var(--space-small) var(--space-medium);
      white-space: nowrap;
      height: min-content;
      margin: var(--space-xsmall);

      a {
        text-decoration: none;
        font-size: var(--font-size-root);
        color: var(--newtab-contextual-text-primary-color);
      }

      a:focus {
        outline: none;
      }

      &:hover
      {
        background-color: var(--newtab-button-static-hover-background);
        cursor: pointer;
      }

      &:hover:active {
        background-color: var(--newtab-button-static-active-background);
      }

      &:focus-within {
        outline: var(--focus-outline);
      }
    }
  }
}
