.ds-dismiss {
  position: relative;
  border-radius: var(--border-radius-medium);
  transition-duration: 250ms;
  transition-property: background;

  &:hover {
    .ds-dismiss-button {
      opacity: 1;
    }
  }

  .ds-dismiss-button {
    cursor: pointer;
    height: 32px;
    width: 32px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset-inline-end: 0;
    inset-block-start: 0;
    border-radius: var(--border-radius-circle);
    background-color: transparent;

    .icon {
      @media (forced-colors: active) {
        fill: CurrentColor;
      }

      fill: var(--newtab-text-primary-color);
    }

    &:hover {
      background: var(--newtab-element-hover-color);
    }

    &:active {
      background: var(--newtab-element-active-color);
    }

    &:focus {
      box-shadow: $shadow-secondary;
    }
  }
}
