.ds-dismiss.ds-dismiss-ds-collection {
  .ds-dismiss-button {
    margin: 15px 0 0;
    inset-inline-end: 25px;
  }

  &.hovering {
    background: var(--newtab-element-hover-color);
  }
}

.ds-collection-card-grid {
  padding: var(--space-small) var(--space-xlarge) var(--space-xlarge);
  margin: 0 0 20px;

  .story-footer {
    display: none;
  }

  .ds-header {
    padding: 0;
    padding-inline-end: var(--space-xxlarge);
    margin-bottom: 12px;

    .title {
      color: var(--newtab-text-primary-color);
      font-weight: var(--font-weight-bold);
      font-size: var(--font-size-large);
    }

    .ds-context {
      color: var(--newtab-text-secondary-color);
      font-weight: normal;
      font-size: var(--font-size-small);
    }
  }
}
