<!DOCTYPE html>
<html class="reftest-wait">
<style type="text/css">
  div {
    border: 1px solid grey;
    width: 100px;
    color: black;
  }
</style>

<div>
  <span id="myspan">Wrapped sentence</span>
</div>

<script>
  document.addEventListener("MozReftestInvalidate", doTest, false);
  setTimeout(doTest, 4000); // fallback for running outside reftest

  function doTest() {
    document.getElementById("myspan").style.filter = "opacity(50%)";
    document.documentElement.removeAttribute('class');
  }
</script>

</html>
