/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#contentView {
  flex: 4 4;
}

#contentView,
#placesView,
#placesViewsBox {
  min-width: 0;
  min-height: 0;
}

#placesViewsBox {
  min-height: 5em;
  overflow: clip;
}

/* Info box */
#infoBox:not([hidden="true"]) {
  display: block;
}

#editBookmarkPanelContent {
  grid-template-columns: auto 1fr;

  .caption-label:not([hidden="true"]) {
    display: block;
    grid-column: 2;
  }

  label {
    align-self: center;
  }

  input[type="text"],
  .expander-up,
  .expander-down {
    margin: 4px;
  }

  .expander-up,
  .expander-down {
    min-width: 0;
  }
}

#editBMPanel_itemsCountText {
  grid-column: auto / span 2;
  justify-self: center;
}

#editBMPanel_tagsSelectorRow {
  grid-column: auto / span 2;
}

#editBMPanel_tagsSelector {
  margin: 4px;
}

#detailsPane {
  min-height: 16em;
  padding: 5px;
}

/* Toolbar */

#placesToolbar {
  @media (-moz-menubar-drag) {
    -moz-window-dragging: drag;
  }
}

#placesToolbar > toolbarbutton > .toolbarbutton-icon,
#placesMenu > menu > .menu-icon {
  -moz-context-properties: fill;
  fill: currentColor;
}

#placesMenu > menu::after {
  display: flex;
  width: 12px;
  height: 12px;
  margin-inline-start: 2px;
  content: url("chrome://global/skin/icons/arrow-down-12.svg");
  -moz-context-properties: fill;
  fill: currentColor;
}

/* Toolbar icons */
#back-button {
  list-style-image: url("chrome://browser/skin/back.svg");
}

#forward-button {
  list-style-image: url("chrome://browser/skin/forward.svg");
}

#back-button:-moz-locale-dir(rtl) > .toolbarbutton-icon,
#forward-button:-moz-locale-dir(rtl) > .toolbarbutton-icon {
  transform: scaleX(-1);
}

#organizeButton {
  list-style-image: url("chrome://global/skin/icons/settings.svg");
}

#viewMenu {
  list-style-image: url("chrome://browser/skin/sort.svg");
}

#maintenanceButton {
  list-style-image: url("chrome://global/skin/icons/arrows-updown.svg");
}
