<!DOCTYPE HTML>
<html>
<meta name="viewport" content="width=device-width">
<style>
html {
    scrollbar-width: none;
}
#scrolled {
    height: 2000px;
    width: 100%;
}
#fixed-outer {
    width: 100%;
    height: 200px;
    position: fixed;
    bottom: 0;
    background: red;
    margin-bottom: 50px;
}
#fixed-inner {
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
    background: blue;
    margin-bottom: 50px;
}
</style>
<body>
  <div id="scrolled"></div>
  <div id="fixed-outer">
    <div id="fixed-inner"></div>
  </div>
</body>
</html>
