/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:host {
  --radio-size: var(--size-item-small);
}

label {
  display: block;
}

input {
  font-size: inherit;
  min-height: var(--radio-size);
  min-width: var(--radio-size);
  vertical-align: top;
  font-family: inherit;
}

input,
.icon {
  margin: calc((1lh - var(--radio-size)) / 2) 0;
}

.label-content {
  position: relative;
  padding-inline-start: var(--space-small);
  width: calc(100% - (var(--radio-size) + var(--space-small)));
}

.label-content,
.text {
  display: inline-block;
}

.icon {
  -moz-context-properties: fill, fill-opacity, stroke;
  fill: currentColor;
  stroke: currentColor;
  width: var(--icon-size-default);
  height: var(--icon-size-default);
  position: absolute;

  & + .text {
    text-indent: calc(var(--icon-size-default) + var(--space-small));
  }
}
