/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin/design-system/text-and-typography.css");

:host {
  --radio-size: var(--size-item-small);
  --radio-space-offset: calc(var(--radio-size) + var(--space-small));
}

label {
  display: block;
  padding-inline-start: var(--radio-space-offset);
}

input {
  -moz-theme: non-native;
  font-size: inherit;
  min-height: var(--radio-size);
  min-width: var(--radio-size);
  accent-color: var(--color-accent-primary);
  font-family: inherit;
  margin-inline-start: calc(-1 * var(--radio-space-offset));
}

input,
.icon {
  margin-block: calc((1lh - var(--radio-size)) / 2);
}

.label-content {
  position: relative;
}

.icon {
  -moz-context-properties: fill, fill-opacity, stroke;
  fill: currentColor;
  stroke: currentColor;
  width: var(--icon-size-default);
  height: var(--icon-size-default);
  position: absolute;

  & + .text {
    margin-inline-start: calc(var(--icon-size-default) + var(--space-small));
  }
}

.description {
  margin-inline-start: var(--radio-space-offset);
  display: block;
}
