.ds-signup {
  max-width: 300px;
  margin: 0 auto;
  padding: var(--space-small);
  position: relative;
  text-align: center;
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);

  &:hover {
    background: var(--newtab-element-hover-color);
    border-radius: var(--border-radius-small);
  }

  .icon-mail {
    height: 40px;
    width: 40px;
    margin-inline-end: 8px;
    fill: var(--newtab-text-secondary-color);
    background-size: 30px;
    flex-shrink: 0;
  }

  .ds-signup-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .ds-chevron-link {
      margin-top: 4px;
      box-shadow: none;
      display: block;
      white-space: nowrap;
    }
  }

  @media (min-width: $break-point-large) {
    min-width: 756px;
    width: max-content;
    text-align: start;

    .ds-signup-content {
      flex-direction: row;

      .ds-chevron-link {
        margin-top: 0;
        display: inline;
      }
    }
  }
}
