body {
  height: 500px;
}

.inner-frame {
  margin-top: 50px; /* this should be at least 30px */
  height: 200%;
  width: 75%;
  overflow: scroll;
}
.inner-content {
  height: 200%;
  width: 200%;
  background: repeating-linear-gradient(#eee, #eee 100px, #ddd 100px, #ddd 200px);
}
