/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/**
 * wallapop.com - fix range sliders
 * Bug #1971504 - https://bugzilla.mozilla.org/show_bug.cgi?id=1971504
 */

input[type="range"]::-moz-range-thumb {
  pointer-events: all !important;
  cursor: pointer;
  min-height: 24px;
  min-width: 24px;
  border: 2px solid #5c7a89;
  background-color: #f0f3f5;
  border-radius: 100px;
}
